@charset "UTF-8";
/*四列响应式内容开始*/
* {
  margin: 0;
  padding: 0;
  list-style: none; }

.ads {
  border-bottom: 1px solid black;
  overflow: hidden; }

.col {
  float: left; }

.row {
  overflow: hidden; }

.ads li {
  box-sizing: border-box;
  height: 200px;
  border-left: 1px solid #fff; }

.d-1 {
  width: 8.33333%; }

.d-2 {
  width: 16.66667%; }

.d-3 {
  width: 25%; }

.d-4 {
  width: 33.33333%; }

.d-5 {
  width: 41.66667%; }

.d-6 {
  width: 50%; }

.d-7 {
  width: 58.33333%; }

.d-8 {
  width: 66.66667%; }

.d-9 {
  width: 75%; }

.d-10 {
  width: 83.33333%; }

.d-11 {
  width: 91.66667%; }

.d-12 {
  width: 100%; }

@media screen and (max-width: 1070px) {
  .m-1 {
    width: 8.33333%; }
  .m-2 {
    width: 16.66667%; }
  .m-3 {
    width: 25%; }
  .m-4 {
    width: 33.33333%; }
  .m-5 {
    width: 41.66667%; }
  .m-6 {
    width: 50%; }
  .m-7 {
    width: 58.33333%; }
  .m-8 {
    width: 66.66667%; }
  .m-9 {
    width: 75%; }
  .m-10 {
    width: 83.33333%; }
  .m-11 {
    width: 91.66667%; }
  .m-12 {
    width: 100%; } }

@media screen and (max-width: 736px) {
  .s-1 {
    width: 8.33333%; }
  .s-2 {
    width: 16.66667%; }
  .s-3 {
    width: 25%; }
  .s-4 {
    width: 33.33333%; }
  .s-5 {
    width: 41.66667%; }
  .s-6 {
    width: 50%; }
  .s-7 {
    width: 58.33333%; }
  .s-8 {
    width: 66.66667%; }
  .s-9 {
    width: 75%; }
  .s-10 {
    width: 83.33333%; }
  .s-11 {
    width: 91.66667%; }
  .s-12 {
    width: 100%; } }

.watchos {
  background: url("img/watchos_large.jpg") no-repeat center center; }

@media screen and (max-width: 1070px) {
  .watchos {
    background-image: url("img/watchos_medium.jpg"); } }

@media screen and (max-width: 736px) {
  .watchos {
    background-image: url("img/watchos_small.jpg"); } }

.music {
  background: url("img/music_large.jpg") no-repeat center center; }

@media screen and (max-width: 1070px) {
  .music {
    background-image: url("img/music_medium.jpg"); } }

@media screen and (max-width: 736px) {
  .music {
    background-image: url("img/music_small.jpg"); } }

.ios {
  background: url("img/ios_large.jpg") no-repeat center center; }

@media screen and (max-width: 1070px) {
  .ios {
    background-image: url("img/ios_medium.jpg"); } }

@media screen and (max-width: 736px) {
  .ios {
    background-image: url("img/ios_small.jpg"); } }

.iphone {
  background: url("img/iphone_large.jpg") no-repeat center center; }

@media screen and (max-width: 1070px) {
  .iphone {
    background-image: url("img/iphone_medium.jpg"); } }

@media screen and (max-width: 736px) {
  .iphone {
    background-image: url("img/iphone_small.jpg"); } }

/*四列响应式内容结束*/
/*header部分开始，导航*/
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }
  .header .header-inner {
    max-width: 980px;
    padding: 0 22px;
    margin: 0 auto; }
    @media screen and (max-width: 736px) {
      .header .header-inner {
        display: none; } }

.nav-list {
  height: 44px;
  text-align: justify; }
  .nav-list::after {
    display: inline-block;
    height: 0;
    width: 100%;
    content: ""; }

.phone-list {
  height: 48px;
  position: relative;
  text-align: justify;
  display: none; }
  .phone-list::after {
    display: inline-block;
    height: 0;
    width: 100%;
    background: blue;
    content: ""; }
  @media screen and (max-width: 736px) {
    .phone-list {
      display: block; } }
  .phone-list .na-item {
    position: relative;
    height: 100%;
    background-color: red;
    display: inline-block;
    transition: opacity .4s ease; }
    .phone-list .na-item:hover {
      opacity: 0.5; }
    .phone-list .na-item a {
      position: absolute;
      diaplay: block;
      width: 100%;
      height: 100%; }
  .phone-list .na-item-list {
    position: absolute;
    top: 48px;
    width: 100%;
    background: blue;
    display: none; }

.phone-list .lists {
  width: 48px;
  background: url("img/lists.svg") no-repeat center center; }

.phone-list .logo {
  width: 40px;
  background: url("img/logo.svg") no-repeat center center; }

.phone-list .bag {
  width: 50px;
  background: url("img/bag.svg") no-repeat center center; }

.phone-list .lists {
  background: none; }
  .phone-list .lists ul {
    background: absolute; }
  .phone-list .lists .heng {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .phone-list .lists .heng li {
      width: 18px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 18px auto; }
      .phone-list .lists .heng li.two {
        margin: 26px auto; }

.phone-list .lists .heng li {
  transition: all .6s ease; }
  .phone-list .lists .heng li.one.active {
    margin: auto;
    transform: rotateZ(135deg); }
  .phone-list .lists .heng li.two.active {
    margin: auto;
    transform: rotateZ(45deg); }

.nav-item {
  display: inline-block;
  transition: transform .8s ease; }
  .nav-item a {
    height: 44px;
    padding: 0 10px;
    display: inline-block;
    transition: opacity .4s ease; }
    .nav-item a:hover {
      opacity: 0.5; }

.nav-item a.logo {
  width: 20px;
  background: url("img/logo.svg") no-repeat center center; }

.nav-item a.mac {
  width: 31px;
  background: url("img/mac.svg") no-repeat center center; }

.nav-item a.ipad {
  width: 30px;
  background: url("img/ipad.svg") no-repeat center center; }

.nav-item a.iphone {
  width: 48px;
  background: url("img/iphone.svg") no-repeat center center; }

.nav-item a.watch {
  width: 44px;
  background: url("img/watch.svg") no-repeat center center; }

.nav-item a.tv {
  width: 20px;
  background: url("img/tv.svg") no-repeat center center; }

.nav-item a.music {
  width: 40px;
  background: url("img/music.svg") no-repeat center center; }

.nav-item a.support {
  width: 57px;
  background: url("img/support.svg") no-repeat center center; }

.nav-item a.search {
  width: 20px;
  background: url("img/search.svg") no-repeat center center; }

.nav-item a.bag {
  width: 18px;
  background: url("img/bag.svg") no-repeat center center; }

.header.searching .nav-list .menu {
  transform: scale(0, 0); }

.header.searching .search-box {
  z-index: 1;
  opacity: 1; }

.header.searching .card {
  opacity: 1; }

.header.searching .search-box-inner input {
  transform: translate3d(0, 0, 0); }

.header.searching .search-box-inner .search1 {
  transform: translate3d(0, 0, 0); }

.header.searching .card .li {
  display: block;
  height: 30px;
  ligh-height: 30px;
  font-size: 15px;
  transform: translate3d(0, 0, 0);
  font-weight: normal; }

.header.searching .card h3.li {
  font-size: 12px; }

.search-box {
  z-index: -1;
  opacity: 0;
  width: 682px;
  position: absolute;
  height: 0px;
  left: 0;
  right: 0;
  margin: 0 auto; }
  .search-box .search-box-inner {
    transform: translate(300px, 0, 0);
    width: 100%;
    height: 44px;
    position: relative; }
  .search-box .card {
    overflow: hidden;
    transition: opacity .8s ease .4s;
    opacity: 0;
    width: 100%;
    height: 191px;
    padding: 24px 40px 15px 40px;
    background: #fff; }

.card ul {
  margin-left: 20px; }

.card .li:nth-child(1) {
  transition: transform 0.8s ease 0.05s;
  transform: translate3d(600px, 0, 0); }

.card .li:nth-child(2) {
  transition: transform 0.8s ease 0.1s;
  transform: translate3d(600px, 0, 0); }

.card .li:nth-child(3) {
  transition: transform 0.8s ease 0.15s;
  transform: translate3d(600px, 0, 0); }

.card .li:nth-child(4) {
  transition: transform 0.8s ease 0.2s;
  transform: translate3d(600px, 0, 0); }

.card .li:nth-child(5) {
  transition: transform 0.8s ease 0.25s;
  transform: translate3d(600px, 0, 0); }

.search-box-inner input {
  border: none;
  background: transparent;
  color: #fff;
  position: absolute;
  left: 40px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  transition: transform .8s ease;
  transform: translate3d(180px, 0, 0); }

.search-box-inner .search1 {
  width: 40px;
  height: 100%;
  background: url("img/search1.svg") no-repeat center center;
  transition: transform .8s ease;
  transform: translate3d(180px, 0, 0); }

/*header部分结束，导航*/
/*carrousel轮播图部分开始*/
.carrousel {
  width: 100%;
  min-height: 300px;
  /*高度为窗口高度-76px*/
  height: calc(100vh - 76px);
  position: relative; }
  .carrousel .gallery-slide-wrapper {
    width: 100%;
    height: 100%; }
  .carrousel .gallery-slide-wrapper a {
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat bottom center;
    background-size: contain;
    z-index: 5;
    display: none;
    transition: transform 2s ease; }
    .carrousel .gallery-slide-wrapper a.iphone1 {
      background-color: #000;
      background-image: url("img/iphone1_large.jpg"); }
    .carrousel .gallery-slide-wrapper a.watch {
      background-color: #f3f3f3;
      background-image: url("img/watch_large.jpg"); }
    .carrousel .gallery-slide-wrapper a.airpods {
      background-color: #fff;
      background-image: url("img/airpods_large.jpg"); }
    .carrousel .gallery-slide-wrapper a.event {
      background-color: #000;
      background-image: url("img/event_large.jpg"); }
  .carrousel .dot-nav ul {
    position: absolute;
    z-index: 6;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center; }
  .carrousel .dot-nav .dot {
    display: inline-block;
    width: 50px;
    height: 2px;
    padding: 10px 0;
    background-color: gray;
    opacity: 0.5;
    background-clip: content-box; }
  .carrousel .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 6;
    width: 100%;
    height: 0;
    background: red;
    opacity: 0; }
    .carrousel .btn:hover {
      opacity: 1; }
    .carrousel .btn li {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: blue;
      float: left; }
      .carrousel .btn li.btn-right {
        float: right; }

.carrousel .gallery-slide-wrapper a.right {
  display: block;
  transform: translate3d(100%, 0, 0);
  z-index: 1; }

.carrousel .gallery-slide-wrapper a.left {
  display: block;
  transform: translate3d(-100%, 0, 0); }

.carrousel .gallery-slide-wrapper a.active {
  display: block;
  transform: translate3d(0, 0, 0); }

.carrousel .gallery-slide-wrapper a.leave {
  display: block;
  transform: translate3d(-100px, 0, 0);
  z-index: -1; }

.carrousel .gallery-slide-wrapper a.leave2 {
  display: block;
  transform: translate3d(100px, 0, 0);
  z-index: -1; }

.dot-nav .dot.active {
  opacity: 1; }

/*carrousel轮播图部分结束*/
/*五列相应式布局开始*/
.foot {
  width: 100%;
  background: #f2f2f2; }
  .foot .foot-box {
    max-width: 980px;
    padding: 0 22px;
    padding-top: 20px;
    margin: 0 auto; }
    .foot .foot-box .text-line {
      position: relative;
      width: 20%;
      height: auto;
      line-height: 18px;
      box-sizing: border-box; }
      .foot .foot-box .text-line .tex {
        margin-top: 20px; }
      .foot .foot-box .text-line span {
        font-size: 12px;
        color: #333; }
      .foot .foot-box .text-line ul {
        margin-right: 20px; }
        .foot .foot-box .text-line ul li a {
          font-size: 12px;
          color: #666; }
          .foot .foot-box .text-line ul li a:hover {
            color: #333;
            text-decoration: underline; }
  .foot .copyright {
    max-width: 980px;
    margin: 0 auto;
    font-size: 10px;
    color: #ccc;
    padding: 20px 0 24px; }

@media screen and (max-width: 736px) {
  .foot .foot-box .text-line {
    padding-right: 0;
    width: 100%;
    float: none;
    position: relative; }
    .foot .foot-box .text-line ul {
      display: none; }
  .more {
    display: block;
    width: 12px;
    height: 12px;
    background: red;
    position: absolute;
    top: 0;
    right: 0; }
  .foot .foot-box .text-line .tex {
    margin-top: 0;
    position: relative; } }

/*五列相应式布局结束*/
