/*四列响应式内容开始*/
*{
	margin:0;
	padding:0;
	list-style:none;
}
.ads{
	border-bottom:1px solid black;
	overflow:hidden;
}
.col{
	float:left;
}
.row{
    overflow:hidden;
}
.ads li{
	box-sizing:border-box;
	height:200px;
	border-left:1px solid #fff;
}

$m-size:1070px;
@mixin onm{
	@media screen and (max-width:$m-size){
	@content;
	}
}
$s-size:736px;
@mixin ons{
	@media screen and (max-width:$s-size){
	@content;
	}
}

@for $i from 1 through 12{
	.d-#{$i}{
	    width:percentage($i/12)
	 }
}
@include onm{
	@for $i from 1 through 12{
	  .m-#{$i}{
	    width:percentage($i/12)
	  }
	}
}
@include ons{
	@for $i from 1 through 12{
	  .s-#{$i}{
	    width:percentage($i/12)
	  }
	}
}

$ads-list:"watchos", "music", "ios", "iphone";
@each $i in $ads-list {
	.#{$i}{
	background:url("img/"+$i+"_large.jpg") no-repeat center center;
	}
	@include onm{
		.#{$i}{
		background-image:url("img/"+$i+"_medium.jpg");
		}
	}
	
	@include ons{
		.#{$i}{
		background-image:url("img/"+$i+"_small.jpg");
		}
	}
}
/*四列响应式内容结束*/

/*header部分开始，导航*/
.header{
	position:absolute;
	z-index:10;
	width:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.8);
	.header-inner{
	max-width:980px;
	padding:0 22px;
	margin:0 auto;
	  @include ons{
	    display:none;
	  }
	}
}
.nav-list{	
	height:44px;
	text-align:justify;
	&::after{
	display:inline-block;
	height:0;
	width:100%;
	content:"";
	}
}
.phone-list{
	height:48px;
    position:relative;
	text-align:justify;
	&::after{
	display:inline-block;
	height:0;
	width:100%;
	background:blue;
	content:"";
	}

	display:none;
	@include ons{
	display:block;
	}
	.na-item{
	position:relative;
	height:100%;
	background-color:red;
	display:inline-block;	
	transition:opacity .4s ease;
	&:hover{
	opacity:0.5
	}
	a{
	 position:absolute;
	 diaplay:block;
	 width:100%;
	 height:100%;
	}
	}

	.na-item-list{
	position:absolute;
	top:48px;
    width:100%;
    background:blue;
    display:none;

	}
}

$phone-list_map:(
    "lists":48px,
    "logo":40px,
    "bag":50px
);
@each $i in map_keys($phone-list_map){
	.phone-list .#{$i}{
	width:map_get($phone-list_map,$i);
	background:url("img/"+$i+".svg") no-repeat center center;
	}
}
.phone-list .lists{
	background:none;
	ul{
	background:absolute;
	}
	.heng{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;	
	li{	 
	 width:18px;
	 height:1px;
	 background:#fff;
	 position:absolute;
	 top:0;
	 left:0;
	 bottom:0;
	 right:0;
	 margin:18px auto;
	 &.two{
	 margin:26px auto;
	 }
	}
	}
}
.phone-list .lists .heng li{
    transition:all .6s ease;
	&.one.active{
	margin:auto;
	transform:rotateZ(135deg);
	}
	&.two.active{
	margin:auto;
	transform:rotateZ(45deg);
	}
}
$nav-map:(
	"logo":20px,
	"mac":31px,
	"ipad":30px,
	"iphone":48px,
	"watch":44px,
	"tv":20px,
	"music":40px,
	"support":57px,
	"search":20px,
	"bag":18px
);
.nav-item {
    display:inline-block;
    transition: transform .8s ease;
     a{
      height:44px;
      padding:0 10px;
	  display:inline-block;
	  transition:opacity .4s ease;
	  &:hover{
	   opacity:0.5;
	  }
     }		
}

@each $c in map_keys($nav-map){
    .nav-item a.#{$c}{
        width:map_get($nav-map,$c);
        background:url("img/"+$c+".svg") no-repeat center center; 
    }
}

.header.searching{
	.nav-list .menu{
	transform: scale(0,0);
    }
    .search-box{
    z-index:1;
    opacity:1;
    }
    .card{
    opacity:1;
    }
    .search-box-inner input{    
	transform:translate3d(0,0,0);
    }
    .search-box-inner .search1{
    transform:translate3d(0,0,0);
    }
    .card .li{
       display:block;
       height:30px;
       ligh-height:30px;
       font-size:15px;
       transform:translate3d(0,0,0);
       font-weight:normal; 
    }
    .card h3.li{
    font-size:12px;
    }
} 
.search-box{
        z-index:-1;
        opacity:0;
	    width: 682px;
        position: absolute;
        height: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        .search-box-inner{
           transform:translate(300px,0,0);
           width:100%;
           height:44px;         
           position:relative;
        }
        .card{
           overflow:hidden;
           transition: opacity .8s ease .4s;
           opacity:0;
           width:100%;
           height:191px;
           padding:24px 40px 15px 40px;
           background:#fff;
        }
}
.card{
     ul{
     margin-left:20px;
     }
     @for $i from 1 through 5{        
    .li:nth-child(#{$i}){
     transition: transform .8s ease $i/2*0.1s ;
	 transform:translate3d(600px,0,0);
    }	
    }
}
.search-box-inner{
	input{    
	border:none;
	background:transparent;
	
	color:#fff;
	position:absolute;
	left:40px;
	right:0;
	top:0;
	bottom:0;
	margin:0 auto;
	width:100%;
	transition: transform .8s ease;
	transform:translate3d(180px,0,0);
   }
   .search1{
    width:40px;
    height:100%;
    background:url("img/search1.svg") no-repeat center center;
    transition: transform .8s ease;
	transform:translate3d(180px,0,0);
   }
} 

/*header部分结束，导航*/

/*carrousel轮播图部分开始*/
.carrousel{
	width:100%;
	min-height:300px;
	/*高度为窗口高度-76px*/
	height:calc(100vh - 76px);

	position:relative;
	.gallery-slide-wrapper{
	    width:100%;
	    height:100%;	
	}
	.gallery-slide-wrapper a{
	    width:100%;
	    height:100%;
        position:absolute;
        background:no-repeat bottom center;
        background-size:contain;
        z-index:5;
        display:none;
        transition: transform 2s ease;
        &.iphone1{
          background-color:#000;
          background-image:url("img/iphone1_large.jpg");
        }
        &.watch{
          background-color:#f3f3f3;
          background-image:url("img/watch_large.jpg");
        }
        &.airpods{
          background-color:#fff;
          background-image:url("img/airpods_large.jpg");
        }
        &.event{
          background-color:#000;
          background-image:url("img/event_large.jpg");
        }
	}
	.dot-nav ul{
	position:absolute;	
	z-index:6;	
	bottom:20px;
	left:0;
	right:0;
	text-align:center;
	}
	.dot-nav .dot{
	display:inline-block;
	width:50px;
	height:2px;
	padding:10px 0;
	background-color:gray;
	opacity:0.5;
	background-clip:content-box;
	}
	.btn{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	z-index:6;
	width:100%;
	height:0;
	background:red;
	opacity:0;
	&:hover{
	opacity:1;
	}
	li{
	height:50px;
	width:50px;
	border-radius:50%;
	background:blue;
	float:left;
	&.btn-right{
	float:right;
	}
	}
	}
}
.carrousel .gallery-slide-wrapper a.right{
    display:block;
	transform:translate3d(100%, 0, 0);
	z-index:1;
}
.carrousel .gallery-slide-wrapper a.left{
    display:block;
	transform:translate3d(-100%, 0, 0);
}
.carrousel .gallery-slide-wrapper a.active{
	display:block;
	transform:translate3d(0, 0, 0);	
}
.carrousel .gallery-slide-wrapper a.leave{
	display:block;
	transform:translate3d(-100px,0,0);
	z-index:-1;
}
.carrousel .gallery-slide-wrapper a.leave2{
	display:block;
	transform:translate3d(100px,0,0);
	z-index:-1;
}
.dot-nav .dot.active{
	opacity:1;
}
/*carrousel轮播图部分结束*/


/*五列相应式布局开始*/

.foot{
  width: 100%;
  background: #f2f2f2;
  .foot-box{
    max-width: 980px;
    padding: 0 22px;
    padding-top: 20px;
    margin: 0 auto;
   .text-line{
     position:relative;
     width: 20%;
     height: auto;
     line-height: 18px;
     box-sizing: border-box;
     .tex{
       margin-top: 20px;
     }
     span{
       font-size: 12px;
       color: #333;
     }
 
     ul {
       margin-right: 20px;
       li{
       a{
         font-size: 12px;
         color: #666;
         &:hover{
           color:#333;
           text-decoration: underline;
         }
       }
       }
     }
   }
  }
  .copyright{
    max-width: 980px;
    margin: 0 auto;
    font-size: 10px;
      color: #ccc;
      padding: 20px 0 24px;

  }
}
@include ons{
	.foot .foot-box .text-line{
	padding-right:0;
	width:100%;	
	float:none;
	position:relative;
    ul{display:none}
	}
	.more{
	display:block;
	width:12px;
	height:12px;
	background:red;
	position:absolute;
	top:0;
	right:0;
	}
	.foot .foot-box .text-line .tex{
	margin-top:0;
	position:relative;
	}
}

/*五列相应式布局结束*/


